<div class="pt-3 pb-3 pl-3">
    <h4>Foydalanuvchilarni tahrirlash</h4>
</div>


<div class="row">
    <div class="col-md-10 mt-3">
        <form method="POST" action="<%=`/user/${result._id}?_method=PUT`%>" class="col-md-8" enctype="multipart/form-data">
            <div class="mb-3">
                <label>User nomi</label>
                <input type="text" class="form-control" value="<%= result.name %>" name="name" />
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control" value="<%= result.email %>" name="email" />
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="text" class="form-control" value="<%= result.password %>" name="password" />
            </div>
            <div class="mb-3">
                <label>Phone</label>
                <input type="number" class="form-control" value="<%= result.phone %>" name="phone" />
            </div>

            <div class="mb-3">
                <label>  RASM </label>
                <input type="file" class="form-control" name="image" />
            </div>

            <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
        </form>
    </div>
</div>